$primary-color: #fc4f4f;
$primary-font-family: "Roboto Condensed", "Raleway", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$success-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
